.All-about {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--my-white);
    max-height: 950px;
    min-height: 900px;
}

.All-about h1 {
    position: absolute;
    margin: 0 auto;
    top: 110px;
    font-weight: 900;
    text-decoration: underline;
}

.All-about .Blue-rectangle {
    margin-top: 150px;
    color: var(--my-white);
    background-color: var(--my-blue);
    position: relative;
    display: flex;
    width: 1050px;
    height: 500px;
    border-radius: 5px;
    align-items: center;
    box-shadow: var(--my-box-shadow);
    transform: translateX(75px);
}

.All-about #Biggest-content-div {
    width: 100%;
    height: 87%;
    overflow-y: scroll;
    display: flex;
}

.All-about #Circle {
    cursor: pointer;
    position: absolute;
    width: 300px;
    height: 300px;
    left: -150px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--my-box-shadow);
    backface-visibility: visible;
}

.All-about .Circle-text {
    background-image: url('../../Assets/Profile-picture.jpg');
}

.All-about .Circle-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.7);
    background-image: url('../../Assets/Skill-level.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    opacity: 0;
}

.All-about .Circle-text:hover::after {
    opacity: 0.8;
    transition: 1s ease;
}

.All-about .Circle-skills {
    background-image: url('../../Assets/Profile-picture-skills.jpg');
}

.All-about .Circle-skills:hover {
    background-image: url('../../Assets/Profile-picture-skills-full.jpg');
    transition: 1s ease;
}

@keyframes FlipIt {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(360deg);}
}

.All-about .Skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.All-about .Skill-bar {
    position: relative;
    width: 540px;
    height: 34px;
    border: 3px solid var(--my-white);
    margin: 7.5px 30px;
}

.All-about .Skill-inner-bar {
    position: absolute;
    height: 100%;
    left: -2px;
    top: -2px;
    background-color: var(--my-white);
    border: 2px solid var(--my-white);
    animation: Wide linear reverse;
}

@keyframes Wide {
    0% {}
    100% {width: 0;}
}

.All-about .Arrow-up {
    cursor: pointer;
    height: 14px;
    width: 27px;
    position: absolute;
    top: 10px;
    right: 310px;
    background-image: url('../../Assets/Arrow-up.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.All-about .Arrow-down {
    cursor: pointer;
    height: 14px;
    width: 27px;
    position: absolute;
    bottom: 10px;
    right: 310px;
    background-image: url('../../Assets/Arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1366px){
    .All-about {
        width: 100vw;
        height: 100vh;
        min-height: 650px;
        max-height: 700px;
    }
}