.All-contact {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--my-blue);
    max-height: 950px;
    min-height: 900px;
}

.All-contact h1 {
    color: var(--my-white);
    position: absolute;
    margin: 0 auto;
    top: 110px;
    font-weight: 900;
    text-decoration: underline;
}

.All-contact form {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.All-contact .Form-thanks {
    border-radius: 5px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 446px;
    width: 604px;
    background-color: #fff;
    opacity: 0;
}

.All-contact .Thanks-icon {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("../../Assets/LoadingBG.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 65px;
}

.All-contact .Thanks-icon::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Loading.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: Rotate-loading 1.5s linear infinite;
}

.All-contact .Thanks-icon-done {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("../../Assets/Loading-done-BG.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 65px;
    animation: Scale-check 0.25s ease 0.25s 2 alternate forwards;
}

.All-contact .Thanks-icon-done::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Loading-done-check.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: Scale-check 0.25s ease 0.25s 2 alternate forwards;
}

.All-contact .Thanks-icon-wrong {
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url("../../Assets/LoadingBG-wrong.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 65px;
    animation: Scale-check 0.25s ease 0.25s 2 alternate forwards;
}

.All-contact .Thanks-icon-wrong::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../../Assets/Loading-wrong.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: Scale-check 0.25s ease 0.25s 2 alternate forwards;
}

.All-contact .Thanks-text {
    color: var(--my-blue);
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
}

@keyframes Scale-circle {
    to {
        transform: scale(1.3);
    }
}

@keyframes Scale-check {
    to {
        transform: scale(2);
    }
}

@keyframes Rotate-loading {
    to {
        transform: rotate(360deg);
    }
}

@keyframes Slide-in {
    from {
        padding-right: 50%;
        letter-spacing: 100px;
    }
    to {
        padding-right: 0;
        letter-spacing: 0;
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Slide-out {
    to {
        transform: translateX(1000px);
        opacity: 0;
        padding-left: 50%;
        text-indent: 50%;
        letter-spacing: 100px;
    }
}

.All-contact input {
    font-family: Turret Road;
    width: 580px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    padding: 0 10px;
}

.All-contact input::placeholder {
    font-size: 25px;
    font-weight: 900;
    color: var(--my-dark-grey);
    font-family: Turret Road;
}

.All-contact textarea {
    font-family: Turret Road;
    width: 580px;
    height: 180px;
    resize: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
}

.All-contact textarea::placeholder {
    font-size: 25px;
    font-weight: 900;
    color: var(--my-dark-grey);
    font-family: Turret Road;
}

.All-contact form button {
    position: relative;
    width: 185px;
    height: 58px;
    font-size: 30px;
    font-weight: 900;
    color: var(--my-white);
    background-color: transparent;
    border: 4px solid var(--my-white);
    z-index: 1;
}

.All-contact form button:hover {
    color: var(--my-blue);
}

.All-contact form button:hover::before {
    position: absolute;
    left: -2px;
    top: -2px;
    z-index: -1;
    content: "";
    width: 0;
    height: 100%;
    border: 2px solid var(--my-white);
    background-color: var(--my-white);
    animation: 0.5s ease Spread forwards;
}

.All-contact .Footer {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: var(--my-black);
    bottom: -120px;
}

.All-contact .Footer p {
    margin-left: 56px;
    font-size: 25px;
    font-weight: 900;
    color: var(--my-white);
}

.All-contact .Footer .Icons {
    margin-right: 56px;
    display: flex;
    gap: 20px;
}

.All-contact .Inner-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.All-contact .Footer .Linked-in {
    width: 60px;
    height: 60px;
    background-image: url("../../Assets/LinkedIn.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.All-contact .Footer .Linked-in:hover {
    background-image: url("../../Assets/LinkedIn-filled.svg");
    transition: 0.5s ease;
}

.All-contact .Footer .Facebook {
    width: 60px;
    height: 60px;
    background-image: url("../../Assets/Facebook.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.All-contact .Footer .Facebook:hover {
    background-image: url("../../Assets/Facebook-filled.svg");
    transition: 0.5s ease;
}

.All-contact #Hrnekmedu {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
