#Almighty-div .Hamburger {
    display: none;
}

@media screen and (max-width: 800px), (max-width: 100vh) {
    #Almighty-div .Hamburger {
        position: fixed;
        height: 10vh;
        width: 10vh;
        top: 1.5vh;
        right: 2vh;
        background-image: url("./Assets/Hamburger.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        z-index: 6;
    }

    @keyframes Fade-in-burger {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes Fade-out-burger {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}
