.All-nav {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    border-bottom: 4px solid var(--my-orange);
    color: var(--my-white);
    background-color: var(--my-black);
    transition: 0.5s linear;
}

.All-nav li {
    position: relative;
    cursor: pointer;
    margin: 0 40px;
    font-size: 35px;
    font-weight: 900;
}

.All-nav li:hover {
    color: var(--my-orange);
    transition: 0.5s ease;
}

.All-nav .LOGO {
    cursor: pointer;
    margin: 0 50px;
    height: 100%;
    width: 100px;
    background-image: url("../../Assets/LOGO.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.All-nav .Nav-items-div {
    justify-content: flex-start;
}

.All-nav .Exit-item {
    display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1366px) {
    .All-nav {
        height: 53px;
        border-bottom: 3px solid var(--my-orange);
    }

    .All-nav li {
        font-size: 25px;
        margin: 0 30px;
    }

    .All-nav .LOGO {
        width: 75px;
    }
}

@media screen and (max-width: 1000px), (min-width: 801px) { /* 200% */
}

@media screen and (max-width: 800px), (max-width: 100vh) {
    /* 250% - ... */
    .All-nav {
        overflow: hidden;
        position: fixed;
        right: 0;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 0;
        border-left: 0.5vh solid var(--my-orange);
        color: var(--my-white);
        background-color: var(--my-black);
        z-index: 5;
        white-space: nowrap;
    }

    @keyframes Show-menu {
        from {
            letter-spacing: 4vh;
            text-indent: 300%;
            text-align: left;
        }
        to {
            width: 80%;
            letter-spacing: 0;
            text-indent: 0;
            text-align: center;
        }
    }

    @keyframes Show-menu-logo {
        from {
            transform: translateX(50vh);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes Hide-menu {
        from {
            width: 80%;
            letter-spacing: 0;
            text-indent: 0;
            text-align: center;
        }
        to {
            width: 0%;
            letter-spacing: 4vh;
            text-indent: 200%;
            text-align: left;
        }
    }

    @keyframes Hide-menu-logo {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(50vh);
        }
    }

    .All-nav::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: var(--my-black);
        mix-blend-mode: screen;
        z-index: -5;
        opacity: 0.5;
    }

    .All-nav .Nav-items-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4vh;
        margin-bottom: 30vh;
    }

    .All-nav li {
        display: flex;
        position: relative;
        cursor: pointer;
        font-size: 4vh;
        font-weight: 900;
    }

    .All-nav li:hover {
        color: var(--my-orange);
        transition: 0s linear;
    }

    .All-nav .LOGO {
        cursor: pointer;
        height: 20vh;
        width: 20vh;
        background-image: url("../../Assets/LOGO.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: Show-menu-logo 1s ease forwards;
    }

    .All-nav .Exit-item {
        display: block;
        position: absolute;
        height: 4vh;
        width: 4vh;
        top: 1.5vh;
        right: 1.5vh;
        background-image: url("../../Assets/X.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        animation: Show-menu-logo 1s ease forwards;
    }
}
